body{
  background: rgb(41,134,147);
  background: linear-gradient(0deg, rgba(41,134,147,1) 0%, rgba(55,78,149,1) 100%);
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

#formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  border-radius: 10px;
}

.form-group {
    width: 250px ;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    align-items: center;
  }

  h2{
    font-size: 2.5em;
    text-align: center;
  }
  
  label {
    display: flex;
    margin-bottom: 5px;
    align-self: left;
    font-size: 1.4em;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 350px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;

  }
  
  button[type="submit"] {
    padding: 15px 30px;
    background-color: #3953c5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  button:hover{
    background-color: #396ac5;
  }
  
  .error-message {
    height: 60px;
    color: red;
    font-size: 15px;
    margin-top: 6px;
  }
  

  @media (max-width: 500px) {
    
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 250px;
    }
  }